annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anyascii==0.3.2 ; python_version >= "3.11" and python_version < "4.0"
markdown==3.7 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.27.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.10.1 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
velesresearch==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
